.form{
    display: flex;
    flex-direction: column;
    gap: 7px;
    margin-top: 10px;
    color:black;
    
}
input{
    width: 250px;
    height: 30px;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 10px;
   
    background-color: transparent;
    outline: none;
    color:black;
}
.error{
    font-size: 0.7rem;
    color: red;
    margin-left: 10px;
    font-family: sans-serif;
}
input[type="date"]{
    color: gray;

}
